<div ng-init="mode = ''">
    <div ng-if="!mode">
        <h1>Admin panel</h1>
        <button class="ibutton" click-sound ng-click="$parent.mode = 'skinids'" style="width:145px;">Skin/Armor IDs</button>
        <button class="ibutton" click-sound ng-click="$parent.mode = 'cheats'" style="width:145px;">Cheats</button>
        <h2>Items</h2>
        <button class="ibutton" click-sound ng-click="$parent.mode = 'itemids'" style="width:145px;">Item IDs</button>
        <button class="ibutton" click-sound ng-click="$parent.mode = 'itemtypes'" style="width:145px;">Item Types</button>
        <button class="ibutton" click-sound ng-click="$parent.mode = 'rarities'" style="width:145px;">Rarities</button>
        <h2>NPCs</h2>
        <button class="ibutton" click-sound ng-click="$parent.mode = 'npcbuilder'" style="width:145px;">NPC Builder</button>
        <button class="ibutton" click-sound ng-click="$parent.mode = 'zones'" style="width:145px;">Zones</button>
        <button class="ibutton" click-sound ng-click="$parent.mode = 'factions'" style="width:145px;">Factions</button>
    </div>
    <div ng-if="mode">
        <button class="ibutton" click-sound ng-click="$parent.mode = ''" style="width:145px;">Back</button>
    </div>
    <div ng-if="mode == 'itemids'">
        <h1>Item IDs</h1>
        <p>This page allows you to get ID's from the items spritesheet. Simply click on items to view their corresponding ID.</p>
        <h2 class="itemid">{{ $parent.imageId }}</h2>
        <img src="images/spritesheets/items.png" class="spritesheet" ng-click="$parent.getImageID($event)">
    </div>
    <div ng-if="mode == 'skinids'" class="skinids">
        <h1>Skin/Armor IDs</h1>
        <p>This page allows you to view image ID's for the various skin and armor types.</p>
        <h2 class="itemid">{{ $parent.imageId }}</h2>
        <div ng-repeat="(name, list) in charImages" style="display:block">
            <h1>{{ name }}</h1>
            <div ng-repeat="img in list" style="display:inline-block;padding-bottom:30px;" ng-if="img">
                <div style="position:absolute">{{ img }}</div>
                <img ng-src="images/characters/{{ name }}/{{ img }}.png" ng-style="{ 'width': name == 'head' || name == 'hair' ? '32px' : '96px'}">
            </div>
        </div>
    </div>
    <div ng-if="mode == 'itemtypes'" ng-init="itemtypes_mode='All'">
        <h1>Item Types: {{capitalize(itemtypes_mode)}}</h1>
        <button class="ibutton" click-sound ng-click="itemtypes_mode = 'All'" style="width:145px;">All</button>
        <h2></h2>
        <button ng-repeat="itemType in itemTypes" class="ibutton" click-sound ng-click="$parent.itemtypes_mode = ''+itemType.name" style="width:145px;">{{capitalize(itemType.name)}}</button>
        <div ng-if="itemtypes_mode == 'All'">
            <h2>Summary</h2>
                <table>
                    <thead>
                        <tr>
                            <th align="left">Item Type</th>
                            <th align="right">#</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="itemType in itemTypes" ng-if="itemType">
                            <td align="left">{{capitalize(itemType.name)}}</td>
                            <td align="right">{{count(itemType.items)}}</td>
                        </tr>
                    </tbody>
                </table>
        </div>
        <div ng-repeat="itemType in itemTypes">
            <div ng-if="itemtypes_mode == itemType.name">
                <h2>{{capitalize(itemType.name)}} ({{count(itemType.items)}})</h2>
                <table ng-if="itemType.items">
                    <thead>
                        <tr>
                            <th align="left">Item</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in itemType.items" ng-if="item">
                            <td align="left">{{item.name}}</td>
                        </tr>
                    </tbody>
            </table>
            </div>
        </div>
    </div>
    <div ng-if="mode =='rarities'" ng-init="rarities_mode='All'">
        <h1>Rarities: {{capitalize(rarities_mode)}}</h1>
        <button class="ibutton" click-sound ng-click="rarities_mode = 'All'" style="width:145px;">All</button>
        <button ng-repeat="rarity in rarities" class="ibutton" click-sound ng-click="$parent.rarities_mode = ''+rarity.name" style="width:145px;">{{capitalize(rarity.name)}}</button>
        <div ng-if="rarities_mode == 'All'">
            <h2>Summary</h2>
                <table>
                    <thead>
                        <tr>
                            <th align="left">Rarity</th>
                            <th align="right">#</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="rarity in rarities" ng-if="rarity">
                            <td align="left">{{capitalize(rarity.name)}}</td>
                            <td align="right">{{count(rarity.items)}}</td>
                        </tr>
                    </tbody>
                </table>
        </div>
        <div ng-repeat="rarity in rarities">
            <div ng-if="rarities_mode == rarity.name">
                <h2>{{capitalize(rarity.name)}} ({{count(rarity.items)}})</h2>
                <table ng-if="rarity.items">
                    <thead>
                        <tr>
                            <th align="left">Item</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in rarity.items" ng-if="item">
                            <td align="left">{{item.name}}</td>
                        </tr>
                    </tbody>
            </table>
            </div>
        </div> 
    </div>
    <div ng-if="mode =='zones'" ng-init="zones_mode='All'">
        <h1>NPC Zones: {{capitalize(zones_mode)}}</h1>
        <button class="ibutton" click-sound ng-click="zones_mode = 'All'" style="width:145px;">All</button>
        <button ng-repeat="zone in zones" class="ibutton" click-sound ng-click="$parent.zones_mode = ''+zone.name" style="width:145px;">{{capitalize(zone.name)}}</button>
        <div ng-if="zones_mode == 'All'">
            <h2>Summary</h2>
                <table>
                    <thead>
                        <tr>
                            <th align="left">Zone</th>
                            <th align="right">#</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="zone in zones" ng-if="zone">
                            <td align="left">{{capitalize(zone.name)}}</td>
                            <td align="right">{{count(zone.npcs)}}</td>
                        </tr>
                    </tbody>
                </table>
        </div>
        <div ng-repeat="zone in zones">
            <div ng-if="zones_mode == zone.name">
                <h2>{{capitalize(zone.name)}} ({{count(zone.npcs)}})</h2>
                <table ng-if="zone.npcs">
                    <thead>
                        <tr>
                            <th align="left">NPC</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="npc in zone.npcs" ng-if="npc">
                            <td align="left">{{npc}}</td>
                        </tr>
                    </tbody>
            </table>
            </div>
        </div>
    </div>
    <div ng-if="mode =='factions'" ng-init="factions_mode='All'">
        <h1>NPC Factions: {{capitalize(factions_mode)}}</h1>
        <button class="ibutton" click-sound ng-click="factions_mode = 'All'" style="width:145px;">All</button>
        <button ng-repeat="faction in factions" class="ibutton" click-sound ng-click="$parent.factions_mode = ''+faction.name" style="width:145px;">{{capitalize(faction.name)}}</button>
        <div ng-if="factions_mode == 'All'">
            <h2>Summary</h2>
            <table>
                <thead>
                    <tr>
                        <th align="left">Faction</th>
                        <th align="right">#</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="faction in factions" ng-if="faction">
                        <td align="left">{{capitalize(faction.name)}}</td>
                        <td align="right">{{count(faction.npcs)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-repeat="faction in factions">
            <div ng-if="factions_mode == faction.name">
                <h2>{{capitalize(faction.name)}} ({{count(faction.npcs)}})</h2>
                <table ng-if="faction.npcs">
                    <thead>
                        <tr>
                            <th align="left">NPC</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="npc in faction.npcs" ng-if="npc">
                            <td align="left">{{npc}}</td>
                        </tr>
                    </tbody>
            </table>
            </div>
        </div>
    </div>
    <div ng-if="mode == 'npcbuilder'" class="npcbuilder">
        <h1>NPC Builder</h1>

            <button click-sound ng-click="randomize()" class="ibutton btn-left" style="width: 200px">Randomize</button>

            <div class="left">
                <div class="left-cust">
                    <div class="">Skin</div>
                    <div>
                        <button click-sound ng-click="prevskin()" class="ibutton btn-left">←</button>
                        <button click-sound ng-click="nextskin()" class="ibutton btn-right">→</button>
                    </div>
                    <div class="">Hair</div>
                    <div>
                        <button click-sound ng-click="prevhair()" class="ibutton btn-left">←</button>
                        <button click-sound ng-click="nexthair()" class="ibutton btn-right">→</button>
                    </div>
                    <div class="">Eyes</div>
                    <div>
                        <button click-sound ng-click="preveyes()" class="ibutton btn-left">←</button>
                        <button click-sound ng-click="nexteyes()" class="ibutton btn-right">→</button>
                    </div>
                </div>

<!--                 <div class="right-cust">
                    <div class="">Body Armor</div>
                    <div>
                        <button click-sound ng-click="prevbody()" class="ibutton btn-left">←</button>
                        <button click-sound ng-click="nextbody()" class="ibutton btn-right">→</button>
                    </div>
                    <div class="">Foot Gear</div>
                    <div>
                        <button click-sound ng-click="prevfeet()" class="ibutton btn-left">←</button>
                        <button click-sound ng-click="nextfeet()" class="ibutton btn-right">→</button>
                    </div>
                    <div class="">Head Gear</div>
                    <div>
                        <button click-sound ng-click="prevhead()" class="ibutton btn-left">←</button>
                        <button click-sound ng-click="nexthead()" class="ibutton btn-right">→</button>
                    </div>
                </div> -->
                <textarea ng-model="charPrevData"></textarea>
            </div>

            <div class="right ib-ui-login-box">
                <div class="char-preview" ng-style="{ 'background-image': 'url(' + charPrevImg + ')' }"></div>
                <img ng-src="{{charSpritesheetImg}}">
            </div>
    </div>
    <div ng-if="mode == 'cheats'">
        <p><input type="checkbox" ng-model="cheats.fastWalk"> Fast Walk</p>
        <p><input type="checkbox" ng-model="cheats.fly"> Fly</p>
        <p><input type="checkbox" ng-model="cheats.screenshot"> Screenshot Mode</p>
    </div>
</div>
